<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
  <div>
    <nav>
        <ul id="nav-items">
            <li class="nav-lists"><a class="nav-links" href="/">Home</a></li>
            <li class="nav-lists"><a class="nav-links" href="/keyboards">Keyboard List</a></li>
            <li class="nav-lists"><a class="nav-links" href="/keyboards/new">Build</a></li>
        </ul>
    </nav>
</div>
  <main>
