<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/public/css/style.css'>
</head>
<body>
  <div>
    <nav>
        <ul id="nav-items">
            <li class="nav-lists"><a class="nav-links" href="/">Home</a></li>
            <li class="nav-lists"><a class="nav-links" href="/keyboards">Keyboard List</a></li>
            <li class="nav-lists"><a class="nav-links" href="/keyboards/new">Build</a></li>
        </ul>
    </nav>
</div>
  <nav>
    <a href="/keyboards/new" >ADD Keyboards</a>
    <a href="/keyboards">ALL Keyboards</a>
  </nav>
  <main>
