<div>
    <nav>
        <ul>
            <li><a href="/">Homie</a></li>
            <li><a href="/keyboards">Keyboard List</a></li>
            <li><a href="/keyboards/new">Buikd</a></li>
        </ul>
    </nav>
</div>