<!DOCTYPE html>
<html>

<head>
  <title>Keyboardy!</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });</script>
  <script> document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.collapsible');
      var instances = M.Collapsible.init(elems, options);
    });</script>
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper green darken-3">
        <a href="" class="brand-logo left">Welcome to Keyboardy!</a>
        <ul class="right">
            <!-- Place Nav UI Here -->
            <ul class="right">
              <ul id="nav-items">
                <li class="nav-lists"><a class="nav-links" href="/keyboards"><i class="material-icons left">home</i>Home</a></li>
                <li class="nav-lists"><a class="nav-links" href="/keyboarders"><i class="material-icons left">people_outline</i>Community</a></li>
            </ul>
        </ul>
    </ul>
    </div>
    </nav>
    </div>
</body>
