<!DOCTYPE html>
<html lang="en">
 <!-- Head partial if you want to use partials, otherwise type it out --> 
  
  <body>
    
    <!-- Navbar Partial if you want to use partials,  otherwise type it out -->

    <section>
      <div>
        <p class="title">All Articles</p>
      </div>
    </section>

    <main>
      <div>
        <% articles.forEach(article=> { %>
			<div>
			  <article>
				<div>
				  <div>
					<strong><%= article.title%></strong>
					<small>
					  <%= new Date(article.createdAt).toLocaleString() %>
					</small>
										  <p>By: Author Person</p>
					<%= article.body%>
				  </div>
				</div>
				<div>
				  <section>
					<div>
					  <a>Edit</a>
					  <a>Remove</a>
					</div>
				  </section>
				</div>
			  </article>
			</div>
  <% }) %>
      </div>
	  <form action="/articles" method="POST">
		<div>
		  <label >Title</label>
		  <div">
			<input
			  type="string"
			  name="title"
			  placeholder="Article Title"
			/>
		  </div>
		</div>
		<div>
		  <label">Body</label>
		  <div>
			<textarea
			  name="body"
			  placeholder="Tell us about it!"
			></textarea>
		  </div>
		</div>
		<div>
		  <button type="submit">Submit</button>
		</div>
	  </form>
    </main>
  </body>
</html>