<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Keyboard Build Name</th>
    </tr>
  </thead>
  <tbody>
    <% keyboards.forEach( k => { %>
        <tr>
          <td><%= k.name %></td>
          <td><a href="/keyboards/<%= k._id %>"><button>Details</button></a></td>
        </tr>
        <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>