<%- include ('../partials/navBar.ejs') %>

<div class= "testy">
  <div>
    <div class="list-container-child">
      <h3> Build List:</h3>
      <% keyboards.forEach( k => { %>
        <div class="row card-panel hoverable">
          <div class="col s12 m6">
            <div class="card pink lighten-5">
              <div class="card-content black-text">
                <span class="card-title"><%= k.name %></span>
                <p>
                  
                </p>
              </div>
              <div class="card-action">
                <a class="waves-effect waves-light btn black-text blue-grey lighten-3" href='/keyboards/<%= k._id %>'>Details</a>
                <a class="waves-effect waves-light btn blue-grey lighten-3">
                  <form action='/keyboards/<%= k._id %>?_method=DELETE' method="POST">
                    <input type="submit" value="Delete" /></form></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </tbody>
      </table>     
      <h3 class="testy1">
        hello I am trying to see css
      </h3>
    </div>
  </div>
</div>