<%- include ('../partials/navBar.ejs') %>

<div class="list-containers">
  <div class="list-container-child">
  <h3> Keyboard List</h3>
      <% keyboards.forEach( k => { %>
        <div class="row">
          <div class="col s12 m6">
            <div class="card dark green darken-1">
              <div class="card-content white-text">
                <span class="card-title"><%= k.name %></span>
                  <p></p>
              </div>
              <div class="card-action">
                <a class="waves-effect waves-light btn" href='/keyboards/<%= k._id %>'>Details</a>
                <a class="waves-effect waves-light btn">
                <form action='/keyboards/<%= k._id %>?_method=DELETE' method="POST">
                  <input type="submit" value="Delete" /></form></a>
              </div>
              </div>
            </div>
          </div>
        </div>
          <% }); %>
      </tbody>
    </table>
  </div>
</div>
  