<!DOCTYPE html>
<html>
  <head>
    <!-- Exported Materialize -->
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link rel = "stylesheet" href="../public/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/fdb71326c3.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue-grey">
            <a href="" class="brand-logo left"></a>
            <ul class="right">
                <!-- Place Nav UI Here -->
                <ul class="right">
                  <ul id="nav-items">
                    <li>
                      <% if (user) { %>
                          <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                        <% } else { %>
                          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                        <% } %>
                  </li>
                </ul>
            </ul>
          </div>
        </nav>
      </div>
      <div class="parallax-container">
        <div class="parallax"><img src="https://t3.ftcdn.net/jpg/02/30/41/68/360_F_230416844_ZQIwbOaorlJdtdU1VEZZNLvrVnNq7e1X.jpg"></div>
      </div>
      <div class="section blue-grey">
        <div class="row container">
          <h2 class="header">Keyboardy!</h2>
          <p class="grey-text text-darken-3 lighten-3">The number one location on the web to customize your very own mechanical keyboard!</p>
        </div>
      </div>
      <div class="parallax-container">
        <div class="parallax"><img src="https://png.pngtree.com/thumb_back/fh260/background/20201022/pngtree-abstract-technology-background-line-high-tech-electricity-image_430309.jpg"></div>
      </div>
</body>
<footer class="page-footer blue-grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">Contact Information</h5>
        <div><p class="black-text text-lighten-4">
          Phone: 839-047-7339</p></div>
          <div><p class="black-text text-lighten-4">
           Email: keyboardy@keyboardy.com</p></div>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text"></h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container blue-grey"> © 2022 Keyboardy! </div>
  </div>
</footer>
</html